<header class="">
    <div class="navbar navbar-default visible-xs">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Fyber Collective</a>
    </div>
  
    <nav class="sidebar">
      <div class="navbar-collapse" id="navbar-collapse">
        <div class="site-header hidden-xs">
            <a class="site-brand" href="/" title="">
              <img class="img-responsive site-logo" alt="" src="/assets/images/knit.jpeg">
              Fyber Collective
            </a>
          <p>Collective of artists, designers and creative technologists working with fibers and based in San Francisco.</p>
        </div>
        <ul class="nav">
          <li><a href="/" title="">Home</a></li>
          <li><a href="/about" title="">About</a></li>
          <li><a href="/contact" title="">Contact</a></li>  
        </ul>
  
        <nav class="nav-footer">
          <p class="nav-footer-social-buttons">
            <a class="fa-icon" href="https://www.instagram.com/fybercollective" title="">
              <i class="fa fa-instagram"></i>
            </a>
            <a class="fa-icon" href="https://github.com/fybercollective" title="">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </nav>  
      </div> 
    </nav>
  </header>