---
layout: default
---

<div class="hero-full-wrapper">
    <div class="grid">
    <div class="gutter-sizer"></div>
      <div class="grid-sizer"></div>

        {% if site.paginate %}
        {% assign posts = paginator.posts %}
        {% else %}
        {% assign posts = site.posts %}
        {% endif %}


        {%- if posts.size > 0 -%}

        {%- for post in posts -%}
            <div class="grid-item">
                <img class="img-responsive" alt="{{ post.title | escape }}" src="./assets/images/{{ post.image }}">
                <a href="{{ post.url | relative_url }}" class="project-description">
                <div class="project-text-holder">
                    <div class="project-text-inner">
                    <h3>{{ post.title | escape }}</h3>
                    {%- if site.show_excerpts -%}
                        {{ post.excerpt }}
                        {%- endif -%}
                    </div>
                </div>
                </a>
            </div>
        {%- endfor -%}

        {%- endif -%}

</div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
       masonryBuild();
    });
  </script>
  
  </main>
  
  <script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarToggleSidebar();
    navActivePage();
  });
  </script>